.App {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c; 
  color: #dcdcdc; 
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
}

.Home {
  display: flex;
  margin-top: 10px;
}


.App-header {
  background-color: #282c34;

}

.title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: #dcdcdc; 
  display: flex;
  text-align: left;
  margin: 20px;
  text-decoration: none;
}

.welcome {
  font-size: 55px;
  font-family: Didot, serif;
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
  color: #dcdcdc; 
}


.img {
  max-width: 100%;
  filter: grayscale(100%) brightness(70%);
}

.navbar {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 20px;
  background-color: #1c1c1c; 
}



.join {
  font-size: 45px;
  font-family: Trebuchet MS, sans-serif;
  display: flex;
  margin-left: 30%;
  color: #dcdcdc; 
}


.img3 {
  width: 250px;
  height: 250px;
  display: flex;
  margin-left: 45%;
  filter: grayscale(100%) brightness(70%);
}

p {
  font-size: 25px;
  font-family: Optima, sans-serif;
  font-weight: lighter;
  margin-left: 30px;
  color: #dcdcdc; 
}


.textname {
  margin-right: 110px;
  font-family: Luminari, fantasy;
  color: #dcdcdc;
  font-size: 20px;
}
